<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Events</title>
  <link rel="stylesheet" href="../../style.css">
</head>
<body>
  <header>
    <h1>Custom Events in Cricket</h1>
  </header>
  <main>
    <section id="custom-events-demo">
      <p>Namma Thala Dhoni is batting now.
        Just tap the button below to update score so as to know what our THA7A can do on the field 
        proving Age is just a number buddy!</p>
      <button onclick="score_update()">Update Score</button>
      <p id="score-display">Score: 0</p>
    </section>
  </main>
  <footer>
    <a class="learn-btn" href="../../index.html">Back to Dashboard</a>
  </footer>
  <script src="/script/custom_events.js"></script>
</body>
</html>
