<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DOM Manipulation</title>
  <link rel="stylesheet" href="../../style.css">
</head>
<body>
  <header>
    <h1>Simple DOM Manipulation Techniques in Cricket</h1>
  </header>
  <main>
    <section id="dom-demo">
        <h2>Cricket Scoreboard</h2>
        <p id="score">Score: 0</p>
        <button onclick="add()">Add 4 Runs</button>
        <button onclick="reset()">Reset Score</button>
      
    </section>
  </main>
  <footer>
    <a class="learn-btn" href="../../index.html">Back to Dashboard</a>
  </footer>
  <script src="/script/dom.js"></script>
</body>
</html>
