<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Truthy & Falsey</title>
  <link rel="stylesheet" href="../../style.css">
</head>
<body>
  <header>
    <h1>Truthy & Falsey in Cricket</h1>
  </header>
  <main>
    <section id="truthy-falsey-demo">
      <h2>Checking Player Availability for the match</h2>
      <input type="text" id="player-name" placeholder="Enter Player Name">
      <button onclick="check_availability()">Check Availability</button>
      <p id="availability-result"></p>
    </section>
  </main>
  <footer>
    <a class="learn-btn" href="../../index.html">Back to Dashboard</a>
  </footer>
  <script src="/script/truthy_falsy.js"></script>
</body>
</html>
